footer{
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom:0;
}

body {
    background-image: url(./women-empowerment-essay-1.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
}

.form-group {
    margin-bottom: 30px;
}
/*
.center {
    border: 1px solid lightgray;
    background-color: white ;
    font-size: 14px;
    color: black;
    padding: 4px 10px;
    position: relative; 
    margin-right:10%;
    margin-left: 10%;
}*/

.navbar {
    border-radius: 0;
}
